*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f6f6f6;
}

body, button {
  color: #444;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 0 360px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);
  border-radius: 2px;
  overflow: hidden;
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.out {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.splash-logo {
  width: 80px;
}

.login-logo {
  width: 140px;
}

.login-title {
  margin-top: 30px;
  font-size: 24px;
}

.login-subtitle {
  margin-top: 10px;
  color: #9d9e9d;
}

.login-form {
  margin-top: 50px;
}

.login-button {
  display: block;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  background: #a5c88d;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.login-footer {
  margin-top: 40px;
  color: #9d9e9d;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 12px;
  transition: color .2s;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #eee;
  font-size: 14px;
  outline: none;
  transition: border-bottom-color .2s;
}

.form-group.error .form-label {
  color: #dc3030;
}

.form-group.error .form-control {
  border-bottom-color: #dc3030;
}

.form-control:focus {
  border-bottom-color: #a5c88d;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link-forgot-container {
  text-align: right;
}

.link-forgot {
  color: #9d9e9d;
}

.link-register {
  color: #a5c88d;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #EC4989;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}